.holder {
    background: #46A194;
    height: 100vh;

    position: relative;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.box {
    position: relative;
    top: 10%;

    background: #FFFFFF;
    width: 70%;
    height: 80%;

    border-radius: 20px;
}


.mainRow {
    position: relative;
    bottom: 40px;
    margin-right: 50px;
}

.title {
    position: relative;
    left: 735px;
    top: 30px;
    font-size: 25px;
}

.formRow {
    position: relative;
    top: 100px;
    left: 330px;
    direction: rtl;


}

.buttonHolder {
    margin: 25px 0;
}

.buttons {
    width: 100px;
    margin: 0 10px;
}



.registerPic {
    width: 100%;
    position: relative;
    right: 605px;
    top: 130px;
}

@media only screen and (min-width: 1280px) {}

@media only screen and (max-width: 1280px) {
    .mainRow {
        right: 70px;
        top: 50px;
    }

    .registerPic {
        right: 375px;
        top: 120px;
    }

    .title {
        left: 550px;
        top: 105px;
    }
}

@media only screen and (max-width: 960px) {

    .mainRow {
        right: 250px;
        top: 45px;
    }

    .registerPic {
        display: none;
    }

    .title {
        left: 280px;
        top: 105px;
    }
}

@media only screen and (max-width: 767px) {}

@media only screen and (max-width: 480px) {}